@use "./var" as var;
//Flex
@mixin flex($dr: column, $js: space-around, $al: center) {
  display: flex;
  flex-direction: $dr;
  justify-content: $js;
  align-items: $al;
}
@mixin font($ff, $fs, $w, $cl, $p, $m) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $w;
  color: $cl;
  padding: $p;
  margin: $m;
}
@mixin btn($ff, $fs, $w, $cl, $p, $m, $bg, $br) {
  @include font($ff, $fs, $w, $cl, $p, $m);
  background-color: $bg;
  border: none;
  border-radius: $br;
  cursor: pointer;
}

// respond is the name of your mixin

@mixin respond($breakpoint) {
  // $breakpoint is simply a variable that can have several values

  @if $breakpoint==tablet {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (min-width: 900px) and (orientation: landscape) {
      @content;
    }
  }

  @if $breakpoint==smallPc {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint==bigPc {
    @media only screen and (min-width: 1800px) {
      @content;
    }
  }
}
//Usage
// .main {
// @include respond(tablet) {
//       background: green;
//       // responsive code for tablet viewport i.e. 600px
//   }
// }
